<html>

<head>
	<title>openvidu-mvc-node</title>

	<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
	</meta>
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	</link>

	<!-- Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
	</script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</link>
	<!-- Bootstrap -->

	<link rel="styleSheet" href="style.css" type="text/css" media="screen">
	</link>
	<script>
		$(document).ready(function () {
			$('[data-toggle="tooltip"]').tooltip({
				html: true
			});
		});
	</script>
</head>

<body>

	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Streaming</a>
			</div>
		</div>
	</nav>

	<div id="main-container" class="container">
		<div id="not-logged" class="vertical-center">
			<form class="form-group jumbotron" action="/dashboard" method="post">
				<p>
					<label>Username</label>
					<input class="form-control" type="text" name="user" required="true"></input>
				</p>
				<p>
					<label>Password</label>
					<input class="form-control" type="password" name="pass" required="true"></input>
				</p>
				<p class="text-center">
					<button class="btn btn-lg btn-info" type="submit">Log in</button>
				</p>
			</form>
			<table class="table">
				<tr>
					<th>Name</th>
					<th>User</th>
					<th>Pass</th>
					<th>Role</th>
				</tr>
				<tr>
					<td>Kevin</td>
					<td>xpert</td>
					<td>pass</td>
					<td>MODERATOR</td>
				</tr>
				<tr>
					<td>Sabine</td>
					<td>customer1</td>
					<td>pass</td>
					<td>PUBLISHER</td>
				</tr>
				<tr>
					<td>Marc</td>					
					<td>customer2</td>
					<td>pass</td>
					<td>PUBLISHER</td>
				</tr>
				<tr>
					<td>Jenny</td>
					<td>customer3</td>
					<td>pass</td>
					<td>PUBLISHER</td>
				</tr>
			</table>
		</div>
	</div>

	<footer class="footer">
		<div class="container">
			<div class="text-muted">hennsevents - © 2020</div>
		</div>
	</footer>

</body>

</html>